# General
AGAPE_DEFAULT_EMAIL_ACME=
AGAPE_PANEL_SECRET=
AGAPE_FQDN=

# Azure Blob Storage

STORAGE_ACCOUNT_NAME=
STORAGE_ACCOUNT_KEY=
STORAGE_CONNECTION_STRING=

# Neon Postgresql
NEON_DATABASE_URI=

# Variables ARM_ para Terraform y Azure CLI
AZURE_SP_CLIENT_ID=
AZURE_SP_CLIENT_SECRET=
AZURE_SP_SUBSCRIPTION_ID=
AZURE_SP_TENANT_ID=