# General
AGAPE_FQDN=
AGAPE_EMAIL_ACME=
AGAPE_ADMIN=
AGAPE_PASSWORD=
AGAPE_HOOK=
AGAPE_SECRET=
AGAPE_CDN_HOST=

# Azure Blob Storage

STORAGE_ACCOUNT_NAME=
STORAGE_ACCOUNT_KEY=
STORAGE_CONNECTION_STRING=

# Neon Postgresql
NEON_DATABASE_URI=

NGROK_AUTHTOKEN=
NGROK_DEV_DOMAIN=

AGAPE_VM_SIZE=D2v3

# Variables ARM_ para Terraform y Azure CLI
AZURE_SP_CLIENT_ID=
AZURE_SP_CLIENT_SECRET=
AZURE_SP_SUBSCRIPTION_ID=
AZURE_SP_TENANT_ID=
