# Variables used by scripts/cloud-init.tpl.sh (envsubst)

# App and domain
AGAPE_FQDN=
AGAPE_EMAIL_ACME=
AGAPE_ADMIN=
AGAPE_PASSWORD=
AGAPE_HOOK=
AGAPE_SECRET=
AGAPE_CDN_HOST=

# Azure Blob Storage (used by blobfuse2 and app)
STORAGE_ACCOUNT_NAME=
STORAGE_ACCOUNT_KEY=
STORAGE_CONNECTION_STRING=
STORAGE_DEPLOY_CONTAINER=

# App services
NEON_DATABASE_URI=
NGROK_AUTHTOKEN=
NGROK_DEV_DOMAIN=
RESEND_API_KEY=
