[Unit]
Description=Mount Blob Storage with Blobfuse2
After=network-online.target
Wants=network-online.target

[Service]
User=azureuser
Group=docker
Type=simple
ExecStart=/usr/bin/blobfuse2 mount /mnt/deploy --config-file=/etc/agape.js/blobfuse2.yaml --allow-other
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target