@import "tailwindcss";

/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@theme {
  /* Colores Ágape migrados */
  --color-primary: #1e40af; /* Azul Profundo */
  --color-secondary: #3b82f6; /* Azul Brillante */
  --color-accent: #0ea5e9; /* Celeste Vibrante */
  --color-muted: #f3f4f6; /* Fondo Suave */
  --color-dark: #111827; /* Texto Oscuro */
  --color-light: #f9fafb; /* Fondo General */
  --color-danger: #ef4444; /* Errores */
  --color-warning: #f59e0b; /* Advertencias */
  --color-success: #10b981; /* Confirmaciones */
}

@variant dark (&:where(.dark, .dark *));

/* Si quieres utilities extra o animaciones: */
@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-6px) rotate(2deg);
    }
  }
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}
